@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 96px;
  align-items: initial;
  justify-content: space-between;
  background-image: url("../../assets/background-login.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .form {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: flex-start;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;

      &:disabled {
        background-color: $disabled;
        color: $background;

        &:hover {
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $black;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
